<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Game station</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/games" class="nav-link">Manage games</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/games/new" class="nav-link">New game</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/selected" class="nav-link">Games Information</a>
      </li>
    </ul>
  </div>
</nav>

