<div class="row mt-2">
  <div class="col">
    <h4>Games by Platform</h4>
    <div class="list-group">
      <div *ngFor=" let item of this.newArray">
      <strong> {{item.name}}</strong>
        <div><img style="height:200px; width: 200px" [src]="item.imageUrl" alt="{{item.name}}" class="img-fluid/"></div>
    </div>
    </div>

</div>

</div>
